<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body style="padding-top: 0px;">
<main layout:fragment="contenido">
    <div class="col-12">
        <h2>Mis Compras</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>


        <script>

            function verDetalles(boton){
                var oculto = document.getElementById("verDetalles"+boton.id).hidden;
                if(oculto==true){
                    document.getElementById("verDetalles"+boton.id).hidden = false;
                }
                else{
                    document.getElementById("verDetalles"+boton.id).hidden = true;
                }
            }

            function calcularMontoAdeudado(){
                var pagoPendiente = document.getElementsByClassName("pagoPendiente");
                var total = 0;
                for(i=0;i<pagoPendiente.length;i++)
                {
                    total = total+ parseFloat(pagoPendiente[i].innerHTML);
                }
                var porcentajeRecargo = document.getElementById("porcentajeRecargo").value;
                var porcentajeDescuento = document.getElementById("porcentajeDescuento").value;

                if(porcentajeRecargo!=null&&porcentajeRecargo!=''&&porcentajeRecargo!='undefined'&&porcentajeRecargo!=0){
                    total = parseFloat(((total*porcentajeRecargo)/100)+total).toFixed();
                    document.getElementById("totalDeuda").innerHTML="Total adeudado a hoy +"+porcentajeRecargo+"%: $"+total;
                }
                if(porcentajeDescuento!=null&&porcentajeDescuento!=''&&porcentajeDescuento!='undefined'&&porcentajeDescuento!=0){
                    montoAD = parseFloat((total*porcentajeDescuento)/100).toFixed();
                    total = parseFloat(total-montoAD).toFixed();
                    document.getElementById("totalDeuda").innerHTML="Total adeudado a hoy -"+porcentajeDescuento+"%: $"+total;
                }
            }
        </script>


        <div th:id="52" class="tabcontent">
            <h3>Mauri Godoy</h3>

            <input hidden id="porcentajeRecargo" th:value="${porcentajeRecargo}"/>
            <input hidden id="porcentajeDescuento" th:value="${porcentajeDescuento}"/>

            <p>Detalle de cuenta corriente.</p>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Total pendiente</th>
                        <th>Ver detalle</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="venta : ${ventas}">
                        <div>
                            <td th:text="${venta.fechaYHora}"></td>
                            <div th:if="${venta.fechaCancelacionCuentaCorriente==null && venta.username=='SaldoAFavor'}">
                                <td th:text="${venta.pagoCuentaCorriente}"></td>
                            </div>
                            <div th:if="${venta.fechaCancelacionCuentaCorriente==null && venta.username!='SaldoAFavor'}">
                                <td th:class="pagoPendiente" th:text="${venta.pagoCuentaCorriente}"></td>
                            </div>
                            <td><button th:id="${venta.id}" button type="button" onclick="verDetalles(this)" class="btn btn-default">Ver detalle</button></td>
                            <td hidden th:id="'verDetalles'+${venta.id}">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Código de barras</th>
                                        <th>Cantidad vendida</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="producto : ${venta.productos}">
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.codigo}"></td>
                                        <td th:text="${producto.cantidad}"></td>
                                        <td th:text="${producto.precio}"></td>
                                        <td th:text="${producto.total}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td th:if="${venta.fechaCancelacionCuentaCorriente!=null}">PAGADA</td>
                            <td th:if="${venta.fechaCancelacionCuentaCorriente==null && venta.username!='SaldoAFavor'}">PENDIENTE</td>
                            <td th:if="${venta.fechaCancelacionCuentaCorriente==null && venta.username=='SaldoAFavor'}">A FAVOR</td>
                            <td th:text="${venta.username}"></td>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button onclick="calcularMontoAdeudado()" class="btn btn-success" >Calcular Deuda</button>
            <div id="totalDeuda">Total:</div>

        </div>



    </div>
</main>
</body>
</html>