<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body style="padding-top: 0px;" onload="checkVencimientos()">
<main layout:fragment="contenido">
    <div class="col-12">
        <h2>Control de Bajo Stock</h2>
        <script type="text/javascript">
            function checkVencimientos(){
        document.getElementById("ejecutarAdvertencia").click();
       }
        </script>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>


        <h4>NOTA: Solo muestra los productos que tienen definida una prioridad y cuyo stock es menor a 5.</h4>

        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Existencia</th>
                    <th>Prioridad</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto : ${productosConBajoStock}">
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.codigo}"></td>
                    <td th:text="${producto.existencia}"></td>
                    <td th:text="${producto.prioridad}"></td>
                    <td th:text="${producto.precio}"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>



    <button id="ejecutarAdvertencia" hidden type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalAdvertencia">EjecutarAdvertencia</button>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModalAdvertencia" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="display:none;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Notificaciones</h4>
                    </div>
                    <div class="modal-body">
                        <h2>Notificaciones</h2>
                        <div th:if="${productosPorVencerAmarillo!=null && !productosPorVencerAmarillo.isEmpty()}">
                        <h4>Productos que se vencerán en menos de 10 dias</h4>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Existencia</th>
                                <th>Fecha de vencimiento</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="producto : ${productosPorVencerAmarillo}">
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.existencia}"></td>
                                <td th:text="${producto.fechaVencimiento}"></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>

                        <div th:if="${productosPorVencerRojo!=null && !productosPorVencerRojo.isEmpty()}">
                        <h4>Productos que se vencerán en menos de 5 dias</h4>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Existencia</th>
                                <th>Fecha de vencimiento</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="producto : ${productosPorVencerRojo}">
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.existencia}"></td>
                                <td th:text="${producto.fechaVencimiento}"></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    <div class="modal-body" th:if="${productosPorVencerAmarillo==null || productosPorVencerRojo==null || productosPorVencerAmarillo.isEmpty() || productosPorVencerRojo.isEmpty()}">
                        <h4>No hay nuevas notificaciones para hoy.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Entiendo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>