<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body style="padding-top: 0px;">
<main layout:fragment="contenido">


    <!-- Styles -->
    <style>
#chartdiv {
  width: 60%;
  height: 300px;
}
</style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


    <div hidden id="totalEfectivo" th:text="${totalEfectivo}"></div>
    <div hidden id="totalDigital" th:text="${totalDigital}"></div>
    <div hidden id="cajaJoha" th:text="${cajaJoha}"></div>
    <div hidden id="cajaAlexia" th:text="${cajaAlexia}"></div>
    <div hidden id="cajaNicole" th:text="${cajaNicole}"></div>
    <div hidden id="cajaSol" th:text="${cajaSol}"></div>
    <div hidden id="cajaMati" th:text="${cajaMati}"></div>
    <div hidden id="cajaFuerte" th:text="${totalCajaFuerte}"></div>

    <!-- Chart code -->
    <script>
am5.ready(function() {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
var root = am5.Root.new("chartdiv");

// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
root.setThemes([
  am5themes_Animated.new(root)
]);

// Create chart
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
var chart = root.container.children.push(
  am5percent.PieChart.new(root, {
    startAngle: 160, endAngle: 380
  })
);

// Create series
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series

var series0 = chart.series.push(
  am5percent.PieSeries.new(root, {
    valueField: "litres",
    categoryField: "country",
    startAngle: 160,
    endAngle: 380,
    radius: am5.percent(70),
    innerRadius: am5.percent(65)
  })
);

var colorSet = am5.ColorSet.new(root, {
  colors: [series0.get("colors").getIndex(0)],
  passOptions: {
    lightness: -0.05,
    hue: 0
  }
});

series0.set("colors", colorSet);

series0.ticks.template.set("forceHidden", true);
series0.labels.template.set("forceHidden", true);

var series1 = chart.series.push(
  am5percent.PieSeries.new(root, {
    startAngle: 160,
    endAngle: 380,
    valueField: "bottles",
    innerRadius: am5.percent(80),
    categoryField: "country"
  })
);

series1.ticks.template.set("forceHidden", true);
series1.labels.template.set("forceHidden", true);

var totalEfectivo = document.getElementById("totalEfectivo").innerHTML;
var totalDigital = document.getElementById("totalDigital").innerHTML;
var cajaFuerte = document.getElementById("cajaFuerte").innerHTML;

var label = chart.seriesContainer.children.push(
  am5.Label.new(root, {
    textAlign: "center",
    centerY: am5.p100,
    centerX: am5.p50,
    text: "[fontSize:10px]\n\nEfectivo Hoy[/]:\n[bold fontSize:30px]$"+totalEfectivo+"[/] [fontSize:10px]\nDigital Hoy[/]:\n[bold fontSize:30px]$"+totalDigital+"[/] [fontSize:10px]\nCaja Fuerte[/]:\n[bold fontSize:30px]$"+cajaFuerte+"[/]"
  })
);

var cajaJoha = document.getElementById("cajaJoha").innerHTML;
var cajaAlexia = document.getElementById("cajaAlexia").innerHTML;
var cajaNicole = document.getElementById("cajaNicole").innerHTML;
var cajaSol = document.getElementById("cajaSol").innerHTML;
var cajaMati = document.getElementById("cajaMati").innerHTML;

var data = [
{
    country: "Caja Joha",
    litres: cajaJoha,
    bottles: 1500
  },
  {
    country: "Caja Alexia",
    litres: cajaAlexia,
    bottles: 990
  },
  {
    country: "Caja Nicole",
    litres: cajaNicole,
    bottles: 785
  },
  {
    country: "Caja Sol",
    litres: cajaSol,
    bottles: 255
  },
  {
    country: "Caja Mati",
    litres: cajaMati,
    bottles: 452
  }
];


// Set data
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
series0.data.setAll(data);
series1.data.setAll(data);

}); // end am5.ready()
</script>

    <!-- HTML -->
    <div style="width: 100%;">

        <div style = "padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
    float: left;
    position: relative;
    width: 50%;
    height: auto;">
    <div id="chartdiv" style="text-align:center; width:100%;"><h2>Dinero real de hoy</h2></div>
        </div>


    <div style="padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;">


        <script>

        function persistirEfectivo(efectivo){
            document.getElementById("idMontoE").value=efectivo;
        }
           function persistirTransferencia(transferencia){
            document.getElementById("idMontoT").value=transferencia;
        }

            function enviarPago(codProveedor){

            document.getElementById("idProveedor").value=codProveedor;
            document.getElementById("formPagar").submit();

            }
        </script>

        <h2>Proveedores pendientes</h2>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered" style="font-size: 9px;">
                <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Monto Pedido</th>
                    <th>Monto Pendiente</th>
                    <th>Con Transf</th>
                    <th>Con Efect</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proveedor : ${proveedoresPendientes}">
                    <td hidden th:text="${proveedor[0]}"></td>
                    <td th:text="${proveedor[1]}"></td>
                    <td th:text="${proveedor[2]}"></td>
                    <td th:text="${proveedor[3]}"></td>
                    <td th:text="${proveedor[4]}"></td>
                    <td><input id="montoT" onchange="persistirTransferencia(this.value);" style="width: 70px;" type="number"></td>
                    <td><input id="montoE" onchange="persistirEfectivo(this.value);" style="width: 70px;" type="number"></td>
                    <td>
                        <form id="formPagar" th:object="${pagoProveedores}" th:action="@{/pagoproveedores/pagar/}" method="post">
                            <input hidden th:field="*{id}" id="idProveedor" name="idProveedor" type="number"/>
                            <input hidden th:field="*{montoEntregaDigital}" id="idMontoT" name="idMontoT" type="number"/>
                            <input hidden th:field="*{montoEntregaEfectivo}" id="idMontoE" name="idMontoE" type="number"/>

                            <button type="button" th:data-codigo="${proveedor[0]}" onclick="enviarPago(this.getAttribute('data-codigo'));">Pagar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!--GRAFICO DE LINEAS DE MOVIMIENTO DE VENTAS -->

    <div hidden id="estadisticasVentas" th:text="${estadisticasVentas}"></div>

    <div class="col-12">
        <!--<h2>Estadisticas de Ventas</h2>-->
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var estadisticasVentas = document.getElementById("estadisticasVentas").innerHTML;
      var venta = estadisticasVentas.split(";");
      var ventaArray = new Array();
      var todasLasVentas = new Array();
      ventaArray.push("'Dia'");
      ventaArray.push("'Monto'");
      todasLasVentas.push("["+ventaArray+"]");

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Dia');
      data.addColumn('number', 'Monto');

      for(var i=0;i<venta.length;i++){
        var ventaArrayInterno = new Array();
        var fechaymonto = venta[i].split(",");
        var fecha = fechaymonto[0];
        var monto = fechaymonto[1];

        data.addRow([fecha,parseFloat(monto)]);
      }

        var options = {
          title: 'Volumen de ventas 48hs',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>




    <div class="col-12">
        <h2>Monto vendido el dia de hoy:</h2>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Usuario</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venta : ${ventasMontos}">
                    <td th:text="${venta[0]}"></td>
                    <td th:text="${venta[1]}"></td>
                    <td th:text="${venta[2]}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="col-12">
        <h2>Ventas digitales el dia de hoy:</h2>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Usuario</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venta : ${ventasDigitales}">
                    <td th:text="${venta.fechaYHora}"></td>
                    <td th:text="${venta.pagoDigital}"></td>
                    <td th:text="${venta.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script>
              function marcarEgresoRevisado(id)
      {
        alert("Marcar Revisado ID: "+id);
      }
    </script>

    <div class="col-12">
        <h2>Salidas de caja sin revisar:</h2>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Motivo</th>
                    <th>Usuario</th>
                    <th>Revisado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="egresoCaja : ${salidasCaja}">
                    <td th:text="${egresoCaja.fechaHoraEgreso}"></td>
                    <td th:text="${egresoCaja.monto}"></td>
                    <td th:text="${egresoCaja.motivo}"></td>
                    <td th:text="${egresoCaja.username}"></td>

                    <td>
                        <form th:action="@{/ventas/marcarEgresoComoRevisado}" method="post">
                            <input type="hidden" name="id" th:value="${egresoCaja.id}"/>
                            <button type="submit" class="btn btn-danger">Revisado</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="col-12">
        <h2>Mis Ventas últimas 48hs</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Productos</th>
                    <th>Usuario</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venta : ${ventas}">
                    <td th:text="${venta.fechaYHora}"></td>
                    <td th:text="${venta.total}"></td>
                    <td>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código de barras</th>
                                <th>Cantidad vendida</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="producto : ${venta.productos}">
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.codigo}"></td>
                                <td th:text="${producto.cantidad}"></td>
                                <td th:text="${producto.precio}"></td>
                                <td th:text="${producto.total}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td th:text="${venta.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>
</body>
</html>